.dashboard {
    display: flex;
  }
  
  .sidebar {
    flex: 0 0 200px; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sidebar button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  .logout{
    /* flex-direction: right;
    margin-left: 0; */
    /* float:right;
    justify-content: flex-end; */
    position:absolute;
    top:0;
    right:0;
  }
  